.button {
  background: transparent;
  border-radius: 5px;
  color: black;
  padding: 0 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin-right: 5px;
}

.icon {
  width: 15px !important;
  height: 15px !important;
}

.read-container {
  display: flex;
  align-items: center;
}

.read-text {
  margin-right: 5px;
}

.cell {
  padding: 3px 15px 3px 5px;
}

.value-edit {
  width: 60px;
  height: 20px;
  margin-right: 5px;
}

.edit-container {
  display: flex;
  align-items: center;
}
